**Задание:**
Скачайте датасет House Prices Kaggle со страницы конкурса (https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/data) и сохраните его в том же каталоге, что и ваш скрипт или блокнот Python.

Загрузите датасет в pandas DataFrame под названием df.

Выполните предварительную обработку данных, выполнив следующие шаги: 
    a. Определите и обработайте отсутствующие значения в датасете. Определите, в каких столбцах есть отсутствующие значения, и решите, как их обработать (например, заполнить средним, медианой или модой, или отбросить столбцы/строки с существенными отсутствующими значениями). 
    b. Проверьте и обработайте любые дублирующиеся строки в датасете. 
    c. Проанализируйте типы данных в каждом столбце и при необходимости преобразуйте их (например, из объектных в числовые типы).

Проведите разведочный анализ данных (EDA), ответив на следующие вопросы: 
    a. Каково распределение целевой переменной 'SalePrice'? Есть ли какие-либо выбросы? 
    b. Исследуйте взаимосвязи между целевой переменной и другими характеристиками. Есть ли сильные корреляции? 
    c. Исследуйте распределение и взаимосвязи других важных характеристик, таких как 'OverallQual', 'GrLivArea', 'GarageCars' и т.д. 
    d. Визуализируйте данные, используя соответствующие графики (например, гистограммы, диаграммы рассеяния, квадратные диаграммы), чтобы получить представление о датасете.

Выполните проектирование признаков путем реализации следующих преобразований: 
    a. Работайте с категориальными переменными, применяя one-hot encoding или label encoding, в зависимости от характера переменной. 
    b. При необходимости создайте новые характеристики, такие как общая площадь или возраст объекта недвижимости, путем объединения существующих характеристик.

Сохраните очищенный и преобразованный набор данных в новый CSV-файл под названием 'cleaned_house_prices.csv'.

Импортируем библиотеки, которые могут нам понадобиться.

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from scipy import stats

Для получения полного датасета загружаем в pandas все 3 датасета для последующего формирования полного датасета.

In [69]:
df_first = pd.read_csv('train.csv')
df_sec = pd.read_csv('test.csv')
df_sec_prices = pd.read_csv('sample_submission.csv')

In [70]:
df_second = df_sec.merge(df_sec_prices, how='left', on='Id')

In [87]:
print(f'Num of columns in df_first - {df_first.shape[1]}')
print(f'Num of columns in df_second - {df_second.shape[1]}')

Num of columns in df_first - 81
Num of columns in df_second - 81

In [74]:
print(f'Count of intersecttions in names of columns = {len(df_first.columns.intersection(df_second.columns))}')

Count of intersecttions in names of columns = 81

In [75]:
df_full = df_first.merge(df_second, how="outer")

C:\Users\Allen\AppData\Local\Temp\ipykernel_22476\3683315081.py:1: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  df_full = df_first.merge(df_second, how="outer")

In [76]:
df_full.shape

(2919, 81)

In [77]:
df_full.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [81]:
df_full.to_csv("House_Prices_merged.csv", index=False)

In [82]:
df = pd.read_csv("House_Prices_merged.csv")

In [83]:
df.shape

(2919, 81)

In [84]:
print(df.columns.difference(df_full.columns))

Index([], dtype='object')

In [86]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0